body {
  --bg-default: white;
  --bg-dark: white;
  --bg-second: #EEEEEE;
  --format-color: #CE1212;
  --font-color: black;
}

.dark {
  --bg-default: black;
  --bg-dark: #202020;
  --bg-second: #252525;
  --format-color: #D78C23;
  --font-color: white;
}

* {
  margin: 0%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
}

.heading {
  text-align: center;
}

.heading h6 {
  color: #7f7f90;
}

.heading p {
  font-size: 3rem;
  font-family: "Amatic SC", sans-serif;
  color: var(--font-color);
}

.heading p span {
  color: var(--format-color);
}

/* N A V B A R    S T Y L E */
nav {
  position: fixed;
  z-index: 3;
  background-color: var(--bg-default);
  width: 100%;
}

nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.switch {
  position: relative;
  right: 20px;
  width: 50px;
  height: 50px;
}

.moon,
.sun,
.mode {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

}

input {
  appearance: none;
  cursor: pointer;
  z-index: 1;
}

.moon,
input:checked~.sun {
  opacity: 1;
}

.sun {
  opacity: 0;
  color: white;
}

input:checked~.moon {
  opacity: 0;
}

nav ul a {
  font-weight: bold;
  color: grey;
  text-decoration: none;
}

nav h1 a {
  font-size: 30px;
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

nav h1:hover,
a:hover {
  color: var(--font-color);
}

nav h1 a::after {
  content: ".";
  color: var(--format-color);
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 17px;
  position: relative;
}

.nav-links a {
  padding: 5px 0;
  margin: 0 10px;
}

.nav-links a:hover {
  border-bottom: solid 3px var(--format-color);
}

/* H O M E    S T Y L E */
.home {
  position: relative;
  background-color: var(--bg-second);
}

.home .image {
  position: absolute;
}

img {
  width: 100%;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0.1));
}

.home img:hover {
  animation: motion 0.4s infinite;
}

@keyframes motion {
  0% {
    transform: translate(0, 3px) rotate(0deg);
  }

  25% {
    transform: translate(3px, 0) rotate(1deg);
  }

  50% {
    transform: translate(0, 0) rotate(2deg);
  }

  75% {
    transform: translate(-3px, 0) rotate(-1deg);
  }

  100% {
    transform: translate(0, -3px) rotate(0deg);
  }
}

.home .home-content {
  position: absolute;
  width: 40%;
  color: var(--font-color);
}

.home-content h1 {
  font-family: "Amatic SC", sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  padding: 5px 0;
}

.video {
  margin-left: 50px;
}

.video .icon {
  width: 3rem;
  height: 3rem;
  border-top: solid 20px var(--bg-second);
  border-left: solid 24px var(--format-color);
  border-right: solid 24px var(--format-color);
  border-bottom: solid 20px var(--bg-second);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video .icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-second);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: inherit;
}

.video i {
  color: var(--font-color);
  position: absolute;
}

.video p {
  color: var(--font-color);
  position: absolute;
  top: 25%;
  width: 100%;
  padding-left: 50px;
}

.video:hover i,
.video:hover p {
  color: var(--format-color);
}

.btn-group button {
  background-color: var(--format-color);
  color: var(--bg-default);
  padding: 0 25px;
  border-radius: 0 25px 25px 25px;
  border: var(--format-color);
}


/* C H E F S    S T Y L E  */
.Chefs {
  padding: 80px 0;
  background-color: var(--bg-dark);
}

.chefs-content {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.chefs-content .card {
  border-radius: 0.5rem;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.chefs-content .card:hover {
  scale: 1.1;
  transition: all 1s;
}

.card .social-icons {
  position: absolute;
  top: 15px;
  right: -60px;
  width: 15%;
  background-color: var(--bg-second);
  opacity: 0.6;
  border-radius: 3px;
}

.social-icons i {
  width: 100%;
  padding: 10px 0;
  font-size: 22px;
  color: #7f7f90;
}

.card:hover .social-icons {
  right: 2px;
  transition: 1s 5ms;
}

/* G A L L E R Y    S T Y L E */
.gallery {
  background-color: var(--bg-second);
  padding: 60px 0;
}

.gallery-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 0px;
}

.gallery-contact .gallery-images img {
  width: 100%;
}

.gallery-contact .gallery-images {
  border: solid 3px white;
  position: relative;
  overflow: hidden;
}

.gallery-contact .gallery-images .layer {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100%;
  bottom: 0;
  transition: all 0.5s;
}

.gallery-images:hover .layer {
  top: 0;
}

/* C O N T A C T      S T Y L E */
.contact {
  padding: 60px 0;
  display: flex;
  background-color: var(--bg-dark);
}

.contact-group {
  background-color: var(--bg-second);
  padding: 10px 10px;
  height: 100px;
  position: relative;
  margin: 10px;

}

.contact-group .icons {
  background-color: var(--format-color);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  margin: 10px;
}

.contact-group .icons i {
  font-size: 1rem;
  width: 100%;
  color: var(--bg-default);
  position: absolute;
  top: 38%;
  text-align: center;
}

.contact-group h5 {
  color: #7f7f90;
  font-weight: bold;
}

.contact-group h5,
.contact-group p {
  position: absolute;
  left: 15%;
  padding: 15px 10px;
}

.contact-group p {
  color: var(--font-color);
}

.user {
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bg-default);
}

.user input,
textarea,
button {
  border-color: rgba(0, 0, 0, 0.1);
}

.user .name,
.user .email {
  padding: 12px 25px;
  margin: 15px 5px;
}

.subject {
  width: 100%;
  padding: 12px 12px;
  margin: 15px 0;
}

textarea {
  resize: both;
  width: 100%;
  padding: 22px 12px;
  margin: 15px 0;
}

.user button {
  background-color: var(--format-color);
  color: var(--bg-default);
  padding: 10px 25px;
  border-radius: 25px;
}

/* F O O T E R      S T Y L E */
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.footer img {
  width: 100%;
  height: 100%;
}

.social-media {
  position: absolute;
  top: 40px;
  color: white;
}

.social-media img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 5px;
}

.social-media h1 {
  font-size: 30px;
  font-weight: bold;
  display: inline;
}

.social-media h1::after {
  content: ".";
  color: #E61414;
}

.social-media h5 {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.social-media h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: white;
  width: 100%;
}

.social-media .social-icons {
  display: flex;
  justify-content: space-between;
}

.social-media i {
  color: white;
  font-size: 26px;
  padding-top: 10px;
}

.subscribe {
  position: absolute;
  color: white;
}

.subscribe input {
  width: 75%;
  padding: 7px 5px;
  margin: 10px 0;
}

.subscribtion button {
  background-color: var(--format-color);
  color: var(--bg-default);
  border: 0;
  padding: 8px 8px;
  margin-bottom: 10px;
}

.quick-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px 0px;
}

.quick-links h4 {
  width: 100%;
}

.quick-links li {
  list-style: ">";
  font-size: 1rem;
  width: 50%;
}

.quick-links li:hover {
  translate: 10px;
  transition: all 0.3s;
  background-color: #222222;
}

.footer .contact-us {
  position: absolute;
  color: white;
}

.footer .contact-us li {
  list-style: none;
  padding-bottom: 20px;
}

.footer .contact-us i {
  padding-right: 10px;
  font-size: 1.5rem;
  color: var(--format-color);
}